<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
          <meta name="author" content="">
            <link rel="icon" href="../../../../favicon.ico">

              <title>About</title>

              <!-- Bootstrap core CSS -->
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">

                <!-- Custom styles for this template -->
                <link href="about.css" rel="stylesheet">
</head>
  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">
            <img src="maple_project2.png" alt="maple leaf" class="small-img" style="padding-right: 10px">
        </h3>
          <h3 class="masthead-brand">The Maple Project</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/forumHome">Forum</a>
            <a class="nav-link  active" href="/about">About</a>
            <%if(typeof user != "undefined"){ %>
              <%let profileLink = "/users/" + user%>
              <a class="nav-link" href=<%=profileLink%>>My Trees</a>
              <a class="nav-link" href="/logout">Logout</a>
            <%}else{%>
              <a class="nav-link" href="/login">Login</a>
            <%}%>
          </nav>
          </div>
      </header>
    </div>

    <div class="bg-orange">
      <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
          <div class="col-lg-2">
            </div>
          <div class="col-lg-6">
            <h1 class="display-4">More About US</h1>
            <p>
              Bring on the pancakes!

              A team of Stockton faculty members has been awarded a three-year United States Department of Agriculture grant to promote maple sugaring in the South Jersey region through research and community outreach.

              The Stockton grant involves using modern technologies such as reverse osmosis, and vacuum assist pumps to implement an extensive sapping system on Stockton’s 1,600-acre main campus. Initial sample tapping began in February on red maples, which have a lower sugar content than sugar maples, but are plentiful in South Jersey.

              maple syrup Judy VogelIn addition, the grant is establishing a community outreach program of traditional sapping methods on individual properties in the South Jersey area.
            </p></br><img src="stoler-drilling-tree.jpg" alt="" class="img-fluid" style="width:424px; height:175px">

            <p>

              The project team is looking for area residents who have access to multiple red maple trees and are willing to invest the time to collect and process the sap into syrup, starting this winter. The trees should be at least 12-inches in diameter.

              Materials and training will be provided. Participants keep the syrup and are asked to record yields and allow a Stockton research assistant to collect soil and vegetation samples from the property.

              The Stockton team brings together individuals with expertise in forestry, soil science, economics, and biodiversity. The members are Stockton Assistant Professor of Environmental Science and lead investigator Aaron Stoler, Professor of Mathematics Judith Vogel, Assistant Professor of Environmental Science Jessica Favorito, Instructor of Economics Mariam Majd and Assistant Professor of Environmental Science Matthew Olson.
            </p></br>
              <img src="stoler-collecting-sap.jpg" alt="" class="img-fluid">
              

            <p>
              “The ultimate goal of the grant is to encourage maple syrup production by home-hobbyists and commercial sellers in New Jersey and similar locations in the Mid-Atlantic,” said Stoler. “To this end, research questions will specifically address issues of sap volume, syrup quality, ecological forest management, and return-on-investment.”

              The tapping process is simple: a hole is drilled into a tree high enough so that gravity will help the sap flow down. A tap is inserted into the tree, and a tube is run into a food-safe container to collect the sap, which is later boiled down to make syrup.

              Three years of data will be collected, and the Stockton faculty will use the data to investigate the science and economic potential of a maple syrup industry in non-traditional syrup production regions, such as southern New Jersey. They will also research the environmental impact of the tapping on the trees and local wildlife.

              Maple-sugaring operations have never developed in South Jersey due to the relative rarity of sugar maple trees (Acer saccharum) and shorter duration of freeze-thaw cycling necessary to draw sap from trees. Ideal weather conditions are an overnight freeze, following by above-freezing temperatures during the day.

              These same regions do have an abundance of other maple species (e.g., Acer rubrum). Although red maple sap contains half the sugar content of sugar maple, the use of modern technology —including vacuum assist sap pumps, reverse osmosis, and highly efficient evaporators—is now available to draw additional sap from trees and concentrate sugar with greater ease than previously known.

              “We are passionate about economic and environmental sustainability and look forward to working with the local community,” said Stoler. “And, of course, we all like maple syrup, particularly when it is made locally and poured over pancakes.”

              Vogel, whose family already makes maple syrup, said she hopes other residents will develop an interest in maple syrup production.

              “We hope landowners get the bug to do this and promote maple syrup production," Vogel said.

              Community members interested in participating in the pilot program can contact: maplegrant@stockton.edu
            </p> </br>
                <img src="maple-syrup-grant-vogel.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                
			</div>   
        </div>


        <!-- Team Section -->
        <div class="bg-orange">
          <div class="container py-5">
            <div class="row mb-4">
              <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">
                  <!-- Team Text Here -->
                </p>
              </div>
            </div>

            <div class="row text-center">
              <!-- Team item-->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0" style="color: #ff3800">Aaron Stoler</h5>
                    <span class="small text-uppercase text-muted">Professor</span>
                  </div>
              </div>
              <!-- End-->
            </div>
          </div>
        </div>
        
        <!-- Team Section 2-->
        <div class="bg-orange">
          <div class="container py-5">
            <div class="row mb-4">
              <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Web Developers</h2>
                <p class="font-italic text-muted">
                  <!-- Team Text Here -->
                </p>
              </div>
            </div>

            <div class="row text-center">
              <!-- Team item-->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="manuel.svg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0" style="color: #ff3800">Manuel Rauda</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="franklin_avatar_svg.svg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0" style="color: #ff3800">Franklin Mejia-Madrid</h5>
                    <span class="small text-uppercase text-muted">Lead Developer</span>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="tim_avatar_svg.svg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0" style="color: #ff3800">Timothy Smyth</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                  </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0" style="color: #ff3800">Rob Flacco</h5>
                    <span class="small text-uppercase text-muted">Web Developer</span>
                  </div>
              </div>
              <!-- End-->
            </div>
          </div>
        </div>


        <footer class="bg-orange pb-5">
          <div class="container text-center">
            <p class="font-italic text-muted mb-0"></p>
          </div>
        </footer>
      </body>
</html>