<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
          <meta name="author" content="">
            <link rel="icon" href="../../../../favicon.ico">

              <title>About</title>

              <!-- Bootstrap core CSS -->
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">

                <!-- Custom styles for this template -->
                <link href="css/about.css" rel="stylesheet">
</head>
  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"> <img src="maple_project2.png" alt="maple leaf" class="small-img" width="100" height="100"><h3 class="masthead-brand">The Maple Project</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/forumHome">Forum</a>
          </nav>
        </div>
      </header>
    </div>

    <div class="bg-orange">
      <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
            <h1 class="display-4">More About US</h1>
            <p>Tree tapping's the game, tree tapper's the name.</p>
            </p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <img src="/maple_project.png" alt="" class="img-fluid" >
			</div>
        </div>


        <!-- Team Section -->
        <div class="bg-orange">
          <div class="container py-5">
            <div class="row mb-4">
              <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">
                  <!-- Team Text Here -->
                </p>
              </div>
            </div>

            <div class="row text-center">
              <!-- Team item-->
              <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Aaron Stoler</h5>
                    <span class="small text-uppercase text-muted">Professor</span>
                  </div>
              </div>
              <!-- End-->
            </div>
          </div>
        </div>


        <footer class="bg-orange pb-5">
          <div class="container text-center">
            <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
          </div>
        </footer>
      </body>
</html>