<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff7300;">
        <b class="navbar-brand"><%=user%>'s Profile</b>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%let link = "/users/" + user%>
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="<%= link %>">Back to profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/admin/addCategory">Add Forum Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/admin/addGroup">Add Category Group</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="/admin/download" method="get">
                <span style="margin-left: 80px">Download database as excel</span>
                <button class="btn btn-primary btn-block" type="submit" value="Download" style="background-color: #ff7300">Download</button>
            </form><br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="usernameAlert" style="display: none">
                Username is Empty
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertUsernameBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="idAlert" style="display: none">
                Data ID is Empty
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertIdBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertNotFound">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertNotFoundBtn">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% }) %>
                <% alert = [] %>
            <% } %>
            <form action="/admin/makeAdmin" method="post" id="mkAdminForm">
                <span>Enter username of who you want to modify privileges</span><br>
                <input type="text" id="username" placeholder="Username" name="username" style="margin-bottom: 10px; margin-left: 55px; margin-right: auto">
                <button class="btn btn-primary btn-block" type="submit" id="mkAdminBtn" style="background-color: #ff7300">Make Admin</button>
                <button class="btn btn-primary btn-block" type="button" id="mkModBtn" style="background-color: #ff7300">Make Mod</button>
                <button class="btn btn-primary btn-block" type="button" id="rmAdminBtn" style="background-color: #ff7300">Remove Admin</button>
                <button class="btn btn-primary btn-block" type="button" id="rmModBtn" style="background-color: #ff7300">Remove Mod</button>
            </form>
            <form action="/admin/makeMod" method="post" id="mkMod">
                <input type="text" id="usernameMod" placeholder="username" name="username" hidden>
            </form>
            <form action="/admin/removeMod" method="post" id="rmMod">
                <input type="text" id="usernameRmMod" placeholder="username" name="username" hidden>
            </form>
            <form action="/admin/removeAdmin" method="post" id="rmAdmin">
                <input type="text" id="usernameRmAdmin" placeholder="username" name="username" hidden>
            </form>
            <form action="/admin/delete" method="post" id="deleteForm">
                <span>Enter Username or Data ID and select data type</span><br>
                <select id="dataType" name="dataType">
                    <option value="User">User</option>
                    <option value="Tree">Tree</option>
                    <option value="Sap">Sap</option>
                    <option value="Syrup">Syrup</option>
                </select>
                <input type="text" id="idDelete" placeholder="Data ID" name="idDelete" style="margin-bottom: 10px; margin-left: 55px; margin-right: auto">
                <button class="btn btn-primary btn-block" type="submit" id="idDeleteBtn" style="background-color: #ff7300">Delete</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready( ()=>{
            $("#mkAdminBtn").click( (e)=>{
                if($("#username").val().length == 0){
                    e.preventDefault();
                    $("#usernameAlert").show();
                }else{
                    $('#mkAdminForm').submit();
                }
            });
            $("#mkModBtn").click( (e)=>{
                if($("#username").val().length == 0){
                    e.preventDefault();
                    $("#usernameAlert").show();
                }else{
                    $('#usernameMod').val($('#username').val());
                    $('#mkMod').submit();
                }
            });
            $("#rmModBtn").click( (e)=>{
                if($("#username").val().length == 0){
                    e.preventDefault();
                    $("#usernameAlert").show();
                }else{
                    $('#usernameRmMod').val($('#username').val());
                    $('#rmMod').submit();
                }
            });
            $("#rmAdminBtn").click( (e)=>{
                if($("#username").val().length == 0){
                    e.preventDefault();
                    $("#usernameAlert").show();
                }else{
                    $('#usernameRmAdmin').val($('#username').val());
                    $('#rmAdmin').submit();
                }
            });
            $("#idDeleteBtn").click( (e)=>{
                if($("#idDelete").val().length == 0){
                    e.preventDefault();
                    $("#idAlert").show();
                }else{
                    $('#deleteForm').submit();
                }
            });
            $("#alertUsernameBtn").click(()=>{$("#usernameAlert").hide()});
            $("#alertIdBtn").click(()=>{$("#idAlert").hide()});
            $("#alertNotFoundBtn").click(()=>{$("#alertNotFound").hide()})
        });
    </script>
</body>

</html>