<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/forumHome.css" rel="stylesheet">
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8c00;">
        <b class="navbar-brand">Maple Forum</b>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="<%=link%>">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="<%=profileLink%>">Profile</a>
                </li>
                <li class="nav-item">
                <%if(profileLink == "/login"){ %>
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/login">Login</a>
                <%}else{%>
                        <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="/logout">Logout</a>
                <%}%>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInLeft">

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <h2>The Maple Project Forum</h2>
                            <span>A place to talk about syrup and things.</span>
                        </div>
                    </div>
                    <div class="ibox-content forum-container" id="forumContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() =>{
            let categories = JSON.parse('<%-JSON.stringify(categories)%>');
            let groups = JSON.parse('<%-JSON.stringify(groups)%>');
            console.log("groups:",groups);
            groups.forEach(group =>{
                let groupID = group._id.replace(/\s+/g, "")
                $("#forumContainer").append(`<div class="forum-title" id=${groupID}><h3>${group._id}</h3></div>`)
            });

            categories.forEach(category =>{
                let groupID = category.group.replace(/\s+/g, "");
                $("#" + groupID).append(`<div class="forum-item active">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <a href="" class="forum-item-title"> ${category.name}</a>
                                                                <div class="forum-sub-title">  ${category.description} </div>
                                                            </div>
                                                        </div>
                                                    </div>`)
            });
        });
    </script>
</body>
</head>
</html>