<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body style="margin-left: 20px">
<h1> Welcome to the Maple Project</h1>
<br>
<h5>Login</h5>
<div>
    <form action="/login" method="POST">
        <label>UserName</label><br>
        <input type="text" id="username" name="username"><br>
        <label>Password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="login">
    </form>
    <br>
    <a href="/register">Register</a>
</div>


</body>
</html>




