<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
</head>
<body>
    <h3>Logs of previous seasons</h3>
    <ul id="logList">

    </ul>
</body>
</html>