<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a Tree</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
</head>
<body>
<div style="margin-left: 10px">
    <h3>Register a Tree</h3><br>
    <form action="/users/registerTree" method="POST">
        <label>Tree ID</label><br>
        <input type="text" id="_id" name="_id"><br>
        <label>Tree Circumference</label><br>
        <input type="text" id="circumf" name="circumf"><br>
        <label>Stem Count</label><br>
        <input type="text" id="stemCount" name="stemCount"><br>
        <label>Date of Tree Tapping</label><br>
        <input type="date" id="tappingDate" name="tappingDate"><br>
        <label>Height of Tree Tapping</label><br>
        <input type="text" id="tapHeight" name="tapHeight"><br>
        <input type="submit" value="Register">
    </form>
    <p><a href="<%= link %>" >Back to profile</a></p>

</div>



</body>
</html>