<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a Tree</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
</head>
<body>
<div style="margin-left: 10px">
    <h3>Register a Tree</h3><br>
    <form action="/users/registerTree" method="POST">
        <label>Tree ID</label><br>
        <input type="text" id="_id" name="_id" required><br>
        <label>Tree Circumference</label><br>
        <input type="text" id="circumf" name="circumf" required><br>
        <label>Stem Count</label><br>
        <input type="text" id="stemCount" name="stemCount" required><br>
        <label>Date of Tree Tapping</label><br>
        <input type="date" id="tappingDate" name="tappingDate" required><br>
        <label>Height of Tree Tapping</label><br>
        <input type="text" id="tapHeight" name="tapHeight" required><br>
        <label>Latitude</label><p style="font-size: 15px; opacity: 0.5" >  Round to nearest 4th decimal</p><br>
        <input type="text" id="latitude" name="latitude" placeholder="Accept geolocation to auto-fill" required><br>
        <label>Longitude</label><p style="font-size: 15px; opacity: 0.5" >  Round to nearest 4th decimal</p><br>
        <input type="text" id="longitude" name="longitude" placeholder="Accept geolocation to auto-fill" required><br>
        <input type="submit" value="Register">
    </form>
    <p><a href="<%= link %>" >Back to profile</a></p>

</div>
<!-- Gets Geolocation with user permission -->
<script>
    function success(pos) {
        pos.coords;
        document.getElementById('latitude').value = pos.coords.latitude.toFixed(4);
        pos.coords.latitude;
        document.getElementById('longitude').value = pos.coords.longitude.toFixed(4);
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    navigator.geolocation.getCurrentPosition(success, error, {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    });
</script>
</body>
</html>