<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
</head>
<body>
<div style="margin-left: 10px">
    <h3>Register</h3><br>
    <form action="/users" method="POST">
        <label>Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label>UserName</label><br>
        <input type="text" id="_id" name="_id"><br>
        <label>Password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
    <a href="/">Already have an account?</a>
</div>


</body>
</html>

