<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register Syrup</title>
    <link href="/register.css" rel="stylesheet" media="all">
</head>
<body>

    <div class="page-wrapper bg-gra p-t-130 p-b-100">
      <div class="wrapper wrapper--w680">
        <div class="card card-4">
          <div class="card-body">
            <!--Title of Form-->
            <h2 class="title">Syrup Processing</h2>
            <form action="/registerSyrup" method="POST" role="form" id="registerForm">
              <!-- First row -->
              <div class="row row-space">
                <div class="col-2">
                  <div class="form-group">
                      <div style="float: top; font-size: small; color: gray">
                        (Please record all volumes in gallons)
                      </div>
                    <label>Amount of Syrup Produced</label>
                    <input type="text" class="input--style-4" id="syrupProduced" name="syrupProduced" required="" onkeypress="return event.charCode != 32">
			      </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <div>
                      <!-- Used for spacing purposes -->
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;
                    </div>
                    <label>Amount of Sap Processed</label>
                    <input type="number" class="input--style-4" id="sapProcessed" name="sapProcessed" required="">
					</div>
                </div>
              </div>

              <!--Second Row-->
              <div class="row row-space" style="margin-top: 10px">
                <div class="col-2">
                  <div class="form-group">
                    <label>Amount of Sap Lost During Processing</label>
                    <input type="number" class="input--style-4" id="sapLost" name="sapLost" required="">
					</div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Processing Date</label>
                    <input type="date" class="input--style-4" id="processingDate" name="processingDate" required="">
					</div>
                </div>
              </div>

              <!--Time Processed Row-->
              <div class="row row-space" style="margin-top: 10px">
                <div class="col-2">
                  <div class="form-group">
                    <label>Amount of Time to Process:</label>
				  </div>
                </div>
              </div>
              <div class="row row-space" style="margin-top: 10px">
                <div class="col-2">
                  <div class="form-group">
                    <label>Hours</label>
                    <input type="number" class="input--style-4" id="hours" name="hours" required="">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Minutes</label>
                    <input type="number" class="input--style-4" id="minutes" name="minutes" required="">
                  </div>
                </div>
              </div>

              <!--Fuel Type row-->
              <div class="row row-space" style="margin-top: 10px">
                <div class="col-2">
                    <div class="form-group">
                        <label>Type of Fuel Used</label>
                        <select id="fuelType" name="fuelType" class="form-control">
                            <option value="Propane" selected>Propane</option>
                            <option value="Oil">Oil</option>
                            <option value="Wood">Wood</option>
                        </select>
                    </div>
                </div>
              </div>
            <input type="number" class="form-control" id="season" name="season" value="1" hidden="">

              <!--Button Row-->
              <div class="row row-space" style="margin-top: 10px">
                <div class="col-2">
                  <div class="form-group">
                    <button type="submit" class="btn btn--radius btn--orange">Register</button>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <a href="<%= profileLink %>" class="btn btn--radius btn--orange">Back
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>