<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a Tree</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8c00;">
        <b class="navbar-brand">Register a Tree</b>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="<%= link %>">Back to profile</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container-fluid" style="margin-top: 10px">
    <form action="/users/registerTree" method="POST" role="form" id="registerForm">
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Tree ID</label><div style="float: top; font-size: small; color: gray">(No spaces, use underscores or dashes)</div>
                <input type="text" class="form-control" id="_id" name="_id" required onkeypress="return event.charCode != 32">
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Tree Circumference (Inches)</label>
                <input type="number" class="form-control" id="circumf" name="circumf" required>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Stem Count</label>
                <input type="number" class="form-control" id="stemCount" name="stemCount" required>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Date of Tree Tapping</label>
                <input type="date" class="form-control" id="tappingDate" name="tappingDate" required>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Height of Tree Tapping (Inches)</label>
                <input type="number" class="form-control" id="tapHeight" name="tapHeight" required>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Accept geolocation to auto-fill" required>
                <div style="float: top; font-size: small; color: gray">Round to nearest 4th decimal</div>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Accept geolocation to auto-fill" required>
                <div style="float: top; font-size: small; color: gray">Round to nearest 4th decimal</div>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <label>Notes</label><br>
                <textarea class="text" cols="70" rows ="10" form="registerForm" id="startNotes" name="startNotes" ></textarea>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <input type="number" class="form-control" id="season" name="season" value="1" hidden>
            </div>
        </div>
        <div class="row" style="margin-left: 1px">
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary" style="background-color: #ff8c00">Register</button>
            </div>
        </div>
    </form>
</div>
<!-- Gets Geolocation with user permission -->
<script>
    function success(pos) {
        pos.coords;
        document.getElementById('latitude').value = pos.coords.latitude.toFixed(4);
        pos.coords.latitude;
        document.getElementById('longitude').value = pos.coords.longitude.toFixed(4);
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    navigator.geolocation.getCurrentPosition(success, error, {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    });
</script>
</body>
</html>