<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
    <style>
        html, body {
            height: 100%;
        }
        .main {
            height: 100%;
            width: 100%;
            display: table;
        }
        .wrapper {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
    </style>
</head>
<body class="text-center">
    <div class="main">
        <div class="wrapper">
            <h3>Register</h3><br>
            <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style='width: 750px; margin-left:auto; margin-right:auto'>
                        <%= error.msg %>
                      </div>
                <% }) %>
                <% alert = [] %>
            <% } %>
            <form class="form-signin col-lg-6 offset-lg-3" action="/register" method="POST">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="username" class="sr-only">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="password" class="sr-only">Username</label>
                        <input type="text" id="_id" name="_id" class="form-control" placeholder="Username" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="password1" class="sr-only">Confirm Password</label>
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" value="Register" style="background-color: #ff8c00">Register</button>
                    </div>
                </div>
            </form>
            <a href="/">Already have an account?</a>
        </div>
    </div>
</body>
</html>

