<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/bootstrap.min.css" >
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
        html, body {
            height: 100%;
        }
        .main {
            height: 100%;
            width: 100%;
            display: table;
        }
        .wrapper {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
    </style>
</head>
<body class="text-center">
    <div class="main">
        <div class="wrapper">
            <h4>Reset Password</h4><br><br>
            <form class="form-signin col-lg-6 offset-lg-3" action="" method="POST" id="form1">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="password" class="sr-only">New Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="New Password" required autofocus>
                    </div>
                </div>
				<div class="row justify-content-center">
                    <div class="form-group">
                        <label for="password" class="sr-only">Confirm Password</label>
                        <input type="password" id="password" name="confirm" class="form-control" placeholder="Confirm Password" required autofocus>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" value="login" style="background-color: #ff8c00">Update Password</button>
                    </div>
                </div>
            </form>
            <br><br><a href="/login">Back to Login</a>
        </div>
    </div>
<script>
    $(document).ready( () => {
        let url = window.location.toString();
        console.log(url);
        console.log(url.substring(21));
        $("#form1").attr("action",url.substring(21));
    });
</script>
</body>
</html>