<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=user%>'s Syrup Entries</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff7300;">
        <b class="navbar-brand"><%=user%>'s Syrup Entries</b>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white; opacity: 0.9; margin-right: 10px" href="<%= link %>">Back to profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 30px">
        <table id="syrupData" class="display center">
            <thead>
                <tr>
                    <th>Amount of Syrup Produced</th>
                    <th>Amount of Sap Processed</th>
                    <th>Amount of Sap Lost During Processing</th>
                    <th>Processing Date</th>
                    <th>Amount of Time to Process (Hours:Minutes)</th>
                    <th>Type of Fuel Used</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
            </tbody>
        </table>
    </div>

    <script>
        let syrupData = JSON.parse('<%-JSON.stringify(syrupData)%>');
        syrupData.forEach(e => {
            $('#syrupData > tbody').append("<tr></tr>");
            $("#syrupData > tbody > :last").append("<td>" + e.syrupProduced + " " + e.units + "</td>");
            $("#syrupData > tbody > :last").append("<td>" + e.sapProcessed + " " + e.units + "</td>");
            $("#syrupData > tbody > :last").append("<td>" + e.sapLost + " " + e.units + "</td>");
            $("#syrupData > tbody > :last").append("<td>" + e.processingDate.substring(0, 10) + "</td>");
            $("#syrupData > tbody > :last").append("<td>" + e.hours + ":" + e.minutes + "</td>");
            $("#syrupData > tbody > :last").append("<td>" + e.fuelType + "</td>");
        });
    </script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#syrupData').DataTable( {
                autoWidth: false,
                lengthChange: false,
                ordering: false,
                pageLength: 10,
                columnDefs: [
                    {className: "dt-head-center", targets: "_all"}
                ],
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'csv', 'pdf'
                ]
            } );
        } );
    </script>
</body>
</head>
</html>