<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <div style="margin-left: 20px">
        <p>UserName: <%=user._id%></p>
        <p>Email: <%= user.email%></p>
        <p>Hashed Password: <%=user.password%></p><br>
        <a href="/">Logout</a>
        <a style="margin-left: 10px" href="/users/registerTree">Register a Tree</a>
    </div>



</body>
</html>


